<div class="jumbotron container">
    <p class="lead">An easy way to practice repetitive actions using youtube videos</p>
</div>
<p>To get started you need to enter a Youtube video id and at least one time span into the top bits form area. Then click save.</p>
<p>Some Example Bits:</p>
<p>
    <a href="../#W3sic3RhcnRUaW1lMCI6IjA6MTcuNiJ9LHsiZW5kVGltZTAiOiIwOjIzLjUifSx7InN0YXJ0VGltZTEiOiIwOjI0LjQifSx7ImVuZFRpbWUxIjoiMDozMiJ9LHsic3RhcnRUaW1lMiI6IjA6MDAifSx7ImVuZFRpbWUyIjoiMDowMCJ9LHsic3RhcnRUaW1lMyI6IjA6MDAifSx7ImVuZFRpbWUzIjoiMDowMCJ9LHsic3RhcnRUaW1lNCI6IjA6MDAifSx7ImVuZFRpbWU0IjoiMDowMCJ9LHsic3RhcnRUaW1lNSI6IjA6MDAifSx7ImVuZFRpbWU1IjoiMDowMCJ9LHsic3RhcnRUaW1lNiI6IjA6MDAifSx7ImVuZFRpbWU2IjoiMDowMCJ9LHsic3RhcnRUaW1lNyI6IjA6MDAifSx7ImVuZFRpbWU3IjoiMDowMCJ9LHsidW5kZWZpbmVkIjoiIn0seyJ2aWRlb2lkIjoiVDZpVVdYa0JCdjgifSx7InRpdGxlIjoiSm9lIEJvbmFtYXNzYSBSaWZmIDIifV0=">
        Joe Bonamassa Style Lick
    </a>
</p>
<p>
    <a href="../#W3sic3RhcnRUaW1lMCI6IjE6MjEuNiJ9LHsiZW5kVGltZTAiOiIxOjI3LjUifSx7InN0YXJ0VGltZTEiOiIyOjMzIn0seyJlbmRUaW1lMSI6IjI6MzcuNzEifSx7InN0YXJ0VGltZTIiOiIwOjAwIn0seyJlbmRUaW1lMiI6IjA6MDAifSx7InN0YXJ0VGltZTMiOiIwOjAwIn0seyJlbmRUaW1lMyI6IjA6MDAifSx7InN0YXJ0VGltZTQiOiIwOjAwIn0seyJlbmRUaW1lNCI6IjA6MDAifSx7InN0YXJ0VGltZTUiOiIwOjAwIn0seyJlbmRUaW1lNSI6IjA6MDAifSx7InN0YXJ0VGltZTYiOiIwOjAwIn0seyJlbmRUaW1lNiI6IjA6MDAifSx7InN0YXJ0VGltZTciOiIwOjAwIn0seyJlbmRUaW1lNyI6IjA6MDAifSx7InVuZGVmaW5lZCI6IiJ9LHsidmlkZW9pZCI6IjE1ZXU3YXI1RUtNIn0seyJ0aXRsZSI6IkNsaWZmcyBvZiBEb3ZlciJ9XQ==">
        Eric Johnson - Clifs of Dover
    </a>
</p>
<p>
    <a href="../#W3sic3RhcnRUaW1lMCI6IjA6MDEuMTMifSx7ImVuZFRpbWUwIjoiMDowNy43MyJ9LHsic3RhcnRUaW1lMSI6IjA6MTQuNiJ9LHsiZW5kVGltZTEiOiIwOjIxLjIifSx7InN0YXJ0VGltZTIiOiIwOjAwIn0seyJlbmRUaW1lMiI6IjA6MDAifSx7InN0YXJ0VGltZTMiOiIwOjAwIn0seyJlbmRUaW1lMyI6IjA6MDAifSx7InN0YXJ0VGltZTQiOiIwOjAwIn0seyJlbmRUaW1lNCI6IjA6MDAifSx7InN0YXJ0VGltZTUiOiIwOjAwIn0seyJlbmRUaW1lNSI6IjA6MDAifSx7InN0YXJ0VGltZTYiOiIwOjAwIn0seyJlbmRUaW1lNiI6IjA6MDAifSx7InN0YXJ0VGltZTciOiIwOjAwIn0seyJlbmRUaW1lNyI6IjA6MDAifSx7InVuZGVmaW5lZCI6IiJ9LHsidmlkZW9pZCI6IjJvbTlIa1o4OUc0In0seyJ0aXRsZSI6IlRoaWNrZnJlYWtuZXNzIn1d">
        The Black Keys - Thick Freakness
    </a>
</p>