<div class="jumbotron container">
    <p class="lead">An easy way to practice repetitive actions using youtube videos</p>
</div>
<p>To get started you need to enter a Youtube video id and at least one time span into the top bits form area. Then click save.</p>
<p>Some Example Bits:</p>
<p>
    <a href="/#W3sic3RhcnRUaW1lMCI6IjI6MjcuMyJ9LHsiZW5kVGltZTAiOiIyOjM0LjEifSx7InN0YXJ0VGltZTEiOiIyOjM0LjAifSx7ImVuZFRpbWUxIjoiMjozOS4wIn0seyJzdGFydFRpbWUyIjoiMDowMCJ9LHsiZW5kVGltZTIiOiIwOjAwIn0seyJzdGFydFRpbWUzIjoiMDowMCJ9LHsiZW5kVGltZTMiOiIwOjAwIn0seyJzdGFydFRpbWU0IjoiMDowMCJ9LHsiZW5kVGltZTQiOiIwOjAwIn0seyJzdGFydFRpbWU1IjoiMDowMCJ9LHsiZW5kVGltZTUiOiIwOjAwIn0seyJzdGFydFRpbWU2IjoiMDowMCJ9LHsiZW5kVGltZTYiOiIwOjAwIn0seyJzdGFydFRpbWU3IjoiMDowMCJ9LHsiZW5kVGltZTciOiIwOjAwIn0seyJ2aWRlb2lkIjoiMm9tOUhrWjg5RzQifSx7InRpdGxlIjoiVGhpY2tmcmVha25lc3MifV0=">
        The Black Keys - Thick Freakness
    </a>
</p>
<p>
    <a href="/#W3sic3RhcnRUaW1lMCI6IjE6MjEuNiJ9LHsiZW5kVGltZTAiOiIxOjI3LjUifSx7InN0YXJ0VGltZTEiOiIwOjAwIn0seyJlbmRUaW1lMSI6IjA6MDAifSx7InN0YXJ0VGltZTIiOiIwOjAwIn0seyJlbmRUaW1lMiI6IjA6MDAifSx7InN0YXJ0VGltZTMiOiIwOjAwIn0seyJlbmRUaW1lMyI6IjA6MDAifSx7InN0YXJ0VGltZTQiOiIwOjAwIn0seyJlbmRUaW1lNCI6IjA6MDAifSx7InN0YXJ0VGltZTUiOiIwOjAwIn0seyJlbmRUaW1lNSI6IjA6MDAifSx7InN0YXJ0VGltZTYiOiIwOjAwIn0seyJlbmRUaW1lNiI6IjA6MDAifSx7InN0YXJ0VGltZTciOiIwOjAwIn0seyJlbmRUaW1lNyI6IjA6MDAifSx7InZpZGVvaWQiOiIxNWV1N2FyNUVLTSJ9LHsidGl0bGUiOiJDbGlmZnMgb2YgRG92ZXIifV0=">
        Eric Johnson - Clifs of Dover
    </a>
</p>