<div class="jumbotron container">
    <p class="lead">An easy way to practice repetitive actions using youtube videos</p>
</div>
<p>To get started you need to enter a Youtube video id and at least one time span into the top bits form area. Then click save.</p>
<p>Some Example Bits:</p>
<p>
    <a href="../?v=KEBnOxPv-3k&t=#s0=0:08.3&e0=0:17.3">
        Joe Bonamassa Style Lick 1
    </a>
</p>
<p>
    <a href="../?v=T6iUWXkBBv8&t=#s0=0:17.6&e0=0:23.5&s1=0:24.4&e1=0:32">
         Joe Bonamassa Style Lick 2
    </a>
</p>
<p>
    <a href="../?v=7ZaHhJxmh9I&t=Comfortably%20Numb%20Solo#s0=8:32.1&e0=8:38.2&s1=8:33.5&e1=8:38.2">
        Pink Floyd - Comfortably Numb Solo
    </a>
</p>