<div class="jumbotron">
    <h1>Bit Practice</h1>
    <p class="lead">An easy way to practice repetitive actions using youtube videos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@

    <div class="container col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Bits <a href="#"  class="btn btn-primary btn-sm" id="seek" onclick="javascript:reset();">reset</a></div>
            <div class="panel-body">

            

            <div id="bit1" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="startTime" type="text" name="addmore[]" class="form-control" placeholder="Start" value="2:27.3">
                    </div>
                <div class="col-sm-6">
                    <input id="endTime" type="text" name="addmore[]" class="form-control" placeholder="End" value="2:34.1">
                </div>
            </div>

            <div id="bit2" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="startTime" type="text" name="addmore[]" class="form-control" placeholder="Start" value="2:34.0">
                </div>
                <div class="col-sm-6">
                    <input id="endTime" type="text" name="addmore[]" class="form-control" placeholder="End" value="2:39.0">
                </div>
            </div>

            <div id="bit3" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="rootStart" type="text" name="addmore[]" class="form-control" placeholder="Start" value="0:00">
                </div>
                <div class="col-sm-6">
                    <input id="rootEnd" type="text" name="addmore[]" class="form-control" placeholder="End" value="0:00">
                </div>
            </div>

            <div id="bit4" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="rootStart" type="text" name="addmore[]" class="form-control" placeholder="Start" value="0:00">
                </div>
                <div class="col-sm-6">
                    <input id="rootEnd" type="text" name="addmore[]" class="form-control" placeholder="End" value="0:00">
                </div>
            </div>

            <div id="bit5" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="rootStart" type="text" name="addmore[]" class="form-control" placeholder="Start" value="0:00">
                </div>
                <div class="col-sm-6">
                    <input id="rootEnd" type="text" name="addmore[]" class="form-control" placeholder="End" value="0:00">
                </div>
            </div>
            <div id="bit6" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="rootStart" type="text" name="addmore[]" class="form-control" placeholder="Start" value="0:00">
                </div>
                <div class="col-sm-6">
                    <input id="rootEnd" type="text" name="addmore[]" class="form-control" placeholder="End" value="0:00">
                </div>
            </div>
            <div id="bit7" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="rootStart" type="text" name="addmore[]" class="form-control" placeholder="Start" value="0:00">
                </div>
                <div class="col-sm-6">
                    <input id="rootEnd" type="text" name="addmore[]" class="form-control" placeholder="End" value="0:00">
                </div>
            </div>
            <div id="bit8" class="input-group control-group after-add-more bitSelector">
                <div class="col-sm-6">
                    <input id="rootStart" type="text" name="addmore[]" class="form-control" placeholder="Start" value="0:00">
                </div>
                <div class="col-sm-6">
                    <input id="rootEnd" type="text" name="addmore[]" class="form-control" placeholder="End" value="0:00">
                </div>
            </div>

            </div>
        </div>


    </div>


    <div class="col-md-8">
        <h2>Practice</h2>
        <p>
            YouTube Video Id:
            <input type="text" id="videoid" value="2om9HkZ89G4" size="10" />
            <a href="#" id="seek" onclick="javascript:SetVideoId();">set</a>
            <div id="player"></div><br />
            Current Seconds: <span id="currentSeconds"></span><br>
            Current Time: <span id="currentTime"></span><br>
            

        </p>
    </div>
</div>
